<p class="contact_us" id="footer">contact us: <a href="mailto:obieventures@gmail.com">obieventures@gmail.com</a> || <a href="http://cs.oberlin.edu/~smater" target="_blank">sam mater</a> || <a href="http://cs.oberlin.edu/~astaffor" target="_blank">adam stafford</a> || <a href="http://cs.oberlin.edu/~pbuser" target="_blank">paul buser</a> || 2013</p>
