<head>

<link type="text/css" rel="stylesheet" href="stylesheet.css" />

	<title>OBIEVENTURES</title>
	<link rel="icon" type="image/ico" href="smater.ico"/>
</head>


<body>
	<HTML>
	<br>
	<br>
	<p class="title_display">OBIEVENTURES</p>
	<br>
	<div>
	<center>
	</center>

        <center><input type="text" name="box"><br>
        <script>

        </script>
	<button type="button" onclick="alert('This feature is coming soon!')">Generate an Adventure!</button>
	</center>
	</div>

	<p></p>

	<br><br><br><br><br><br><br>

	<center><p><%= link_to 'Submit Your Own Adventure!', new_adventure_path %></p></center>
	<p class="contact_us" id="footer">contact us: obieventures@gmail.com || <a href="http://cs.oberlin.edu/~smater">sam mater</a> || <a href="http://cs.oberlin.edu/~astaffor">adam stafford</a> || <a href="http://cs.oberlin.edu/~pbuser">paul buser</a> || 2013</p>
	</HTML>
</body>
