<p class="title_display">OBIEVENTURES</p>
<div id="adventure_title">
	<%= render 'adventure' %>
</div>
<p>
	<a href="http://obieventures.cs.oberlin.edu/" class="classname">Generate an Adventure!</a>
</p>
<p>
	<%= link_to 'Submit Your Own Adventure!', new_adventure_path %>
</p>
<%= render 'footer' %>
