.title_display {
	/*color: #836FFF;*/
	font-family: URW Gothic L;
	font-size:110px;
	color: #6959CD;
	background-color: #FFFFF0;
	text-align: center;
	cursor: default;
}
body {
	background-color: #FFFFF0;
}
.contact_us {
	font-family: URW Gothic L;
	font-size: 10px;
	color: #8B8386;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: #CDC1C5;
}

a:visted {
	text-decoration: none;
	color: #CDC1C5;
}
a:link {
	text-decoration: none;
	color: #8B8386;
}

#footer {
   	position: absolute;
   	bottom: 0;
   	width: 98%;
   	height: 60px;   /* Height of the footer */
	text-align: center;
}

div {
	/*float: center;*/
}
