<div class="submit_box">
<center><h1>Submit your own adventures!</h1>
<br><p class="instructions" id="justify">
	In the first field, take a sentence or two to describe the adventure.  In the second, put more details about how one might accomplish the adventure, ex:
<br><br><strong>Summary:</strong> see a movie at the apollo.<br>
	<strong>Details:</strong> it's located at 19 E College St, Oberlin, and showtimes can be found http://www.tributemovies.com/cinema/Ohio/Oberlin/Apollo+Theatre/4490/ 
	<br><br>Please keep suggestions clean.
</p>
<br>
<%= render 'form' %>

<%= link_to 'Back', home_path %>
</div></center>
<p class="contact_us" id="footer">contact us: obieventures@gmail.com || <a href="http://cs.oberlin.edu/~smater">sam mater</a> || <a href="http://cs.oberlin.edu/~astaffor">adam stafford</a> || <a href="http://cs.oberlin.edu/~pbuser">paul buser</a> || 2013</p>
